@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100vh;
}
nav {
    position: fixed;
    background-color: blueviolet;
    width: 100vw;
    border-bottom: 6px solid rgba(0, 0, 0, 0.137);
    z-index: 1000;
}
header {
    background-color: blueviolet;
    color: white;
    text-align: center;
    border-bottom: 6px solid rgba(0, 0, 0, 0.137);
}
header h1 {
    position: inherit;
    font-size: 4em;
    padding: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: rgb(57, 15, 57);
    transition-duration: .3s;
}
header ul {
    list-style-type: none;
    display: flex;
    text-indent: 2em;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 20px;
}
section {
    background-color: rgba(192, 192, 192, 0.116);
    width: 850px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 13px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.142);
}
section h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 2.2em;
}
section p {
    text-indent: 2em;
    padding: 10px;
    font-size: 1.2em;
    line-height: 2em;
}
.imagens {
    float: right;
}
.fluctuating-image {
    animation: fluctuate 3s infinite;
}
    @keyframes fluctuate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
#alunos ul {
    column-count: 2;
    list-style-type: square;
    font-size: 1.5em;
    padding: 30px;
}
footer {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}